<div class="row">
  <div class="col-md-12 mb-3">
    <a class="btn btn-secondary float-right" routerLink="/user/category"> <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> Back to My Categories</a>
  </div>
  <div class="col-md-12 mb-3">
    <form novalidate #createCategoryForm="ngForm"  (ngSubmit)="onSubmit(createCategoryForm)">
      <div class="form-group">
        <label for="txtCategory">Enter Category Name</label>
        <input type="text" class="form-control" id="txtCategory" name="txtCategory" placeholder="Enter Category" 
        [(ngModel)]="newItem.name" #txtCategory="ngModel" required />
        
        <small *ngIf="txtCategory.invalid && txtCategory.errors.required && (txtCategory.touched || createCategoryForm.submitted)"
              class="label-error-message form-text text-muted">Please enter category name</small>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Save</button>
    </form>
  </div>
</div>